$Action: #16a34a;
$Documentary: #6b7280;
$Music: #ef4444;
$History: #737373;
$Comedy: #f97316;
$Sport: #0d9488;
$Drama: #0891b2;
$Mystery: #0284c7;
$Adventure: #8b5cf6;
$Crime: #164e63;
$Biography: #831843;
$Fantasy: #115e59;
$Sci-Fi: #155e75;
